



  * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.logo-img{
 
    width: 13rem;

}
.logoCR{
 
width: 100%;
height: 6%;
  
}
.content{
  width: 100%;
  height: 94%;
  flex-direction: column-reverse;
    display: flex
;
}
.sparkle{
  position: absolute;
    top: 3rem;
    
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
.mainDiv{
  background-color: #000000;
}
.leftDiv{
  width: 50%;
height: 60%;
position: relative;
bottom: 0rem;
z-index: 99;
  
}
.right{
  width: 60%;
}
.heading {
  height: 10%;
margin-bottom: 0.5rem;

}

.heading h1{
 font-size: 3rem;
 background-color: #252424;
 width: 100%;
 border-radius: 10px;
  height: 6rem;
color: grey;
display: flex;
  align-items: center;
  justify-content: center;
}
main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

     flex-direction: column;
}
.right {
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


.right::-webkit-scrollbar {
  display: none;
}


pre{
    overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

pre::-webkit-scrollbar
{
  display: none;

}

p{
  margin-top: 4rem;
}

li{
  margin-top: 2rem;
  margin-bottom: 2rem;

}


main .right {
  width: 50%;
  height: 100%;
  flex-basis: 60%;
  /* border-radius: 0.7rem; */
}
.left{
  /* height:400px; */
  /* background-color: #86ce8c; */


}
main .left {
  position: relative;
z-index: 9000;

   height: 77%;
  flex-basis: 60%;
  border-radius: 0.7rem;
}
textarea{
  color: white;
  height: 10rem !important;
}


.left{
  width: 100%;

}
main .left{
display: flex;
    position: relative;
    z-index: 9999;
    /* background-color: #dcba1e; */
    align-items: center;
    justify-content: center;

  }
.input-box{
  display: flex
;
    width: 80%;
    height: 46%;
    align-items: center;
}
main .review {
 
  background-color: #ffffff;
  color: grey;
  width:6rem;
  padding: 0.5rem 0rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 50px;
}
.review .btn-icon{
  display: none;
} 


main .right {


 display: flex;
    padding: 0rem 11rem;
    font-size: 1rem;
    overflow: auto;
    color: white;
    min-height: 83%;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}



main .right p {
      margin-bottom: 1rem;
    line-height: 1.5;
   
}
.review-heading{
    margin-bottom: 1rem;
    line-height: 1.5;
    position: absolute;
    z-index: 999;
       bottom: 23rem;
    font-size: 3rem;
    font-weight: 200;
}


main .right li {
  margin-bottom: 0.6rem;
}

main .right code {
  background-color: #1e1e1e;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

main .right pre {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

.hljs-regexp, .hljs-string, .hljs-meta .hljs-string {
    color: #86ce8c;
}


.hljs-subst {
    color: #dcba1e;
}
.input-box {
  width: 50%;
  border-radius: 50px;
      padding-bottom: 0.1rem;
}
.input-box input{
  color: white;
   outline: none;
   
   
    
    padding-left: 2.2rem;
    /* font-family: monospace;
    font-size: 16px; */
    resize: vertical ;
}
.text-area{
      width: 88.4%;
          height: 100%;
          border-radius: 50px;
          padding-left: 20px;
          background-color: #303030;

}

.ease-in {
  opacity: 0;
  transform: translateY(20px); 
  animation: easeInAnim 0.5s ease forwards; 
}

.anim{
  width: 78%;
}
code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  color: white;
}

@keyframes easeInAnim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 @media(max-width:1704px){
  .logoCR{
    /* width: 100%;
    background-color: red; */
  }
  .logo-img{
    /* position: absolute;

width: 13rem; */
  }
  .sparkle{
    position: absolute;
    top: 0rem;
  }
  .text-area {
    width: 87.4%;
  
}
main .review {

    width: 11%;
    
}
 }

 @media(max-width:1266px){
  .anim{
    width: 88%;
  }
 }
 
 @media(max-width:1150px){
  .input-box{
    width: 63%;
  }
  .review-heading{

  }
  main .right {
    padding: 0rem 0rem;
    font-size: 1rem;
   
}
.anim{
  width: 79%;
}


 }
 @media(max-width:900px){
  .input-box{
    width: 82%;
  }
  .anim{
    width: 90%;
  }
 }
 @media(max-width:850px){
  .review-heading{
font-size: 2.5rem;
  }
 }
 @media(max-width:652px){
  .review {
    width: 2rem;             
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .anim{
    width: 100%;
  }

  .review .btn-text {
    display: none;
  }

  .review .btn-icon {
    display: inline;
    font-size: 1.5rem;
  }

    .input-box{
    width: 100%;
  }
    .review-heading{
font-size: 2.5rem;

  }
  /* main .right p{
    bottom: 24.5rem;
  } */
  .p-4{
    padding: 0rem !important;
  }
  main .right{
    min-height: 87%;
  }
   .review-heading{
font-size: 2rem;
  }
 }